{% extends 'base.html' %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block content %}
    <div class="card p-2 mt-3 bg-light border-info">
        <div>
            <div class="card p-2 mb-2 h1 bg-info text-light text-center">Mohan Sahu</div>
            <div class="card p-2 mb-2">
                <div class="small">Bhopal, Madhyapradesh, India</div>
                <div><a href = "mailto:heymks@yahoo.com">heymks@yahoo.com</a></div>
                <div><a href="https://www.linkedin.com/in/heymks/">linkedin.com/in/heymks</a></div>
                <div><a href="tel:+919340948037">+91 934 094 8037</a></div>
            </div>
            <div class="card p-2">
                Data Analyst with 2+ Years of Experience in Interpreting and Analyzing Data in 
                taking Data Driven Decision Making Approach to Business Problems & Operations handling
            </div>
        </div>
    </div>
    <div>
        <div class="card p-2 bg-info text-light h2 mt-3 border-success">Experience</div>
        <div class="card p-2 mb-1 bg-light border-info">
            <div class="h5">Ruchi Security Printers Pvt Ltd</div>
            <div class="h4">Data Analyst</div>
            <div class="small">November 2020 - Present (7 Months +)</div>
            <div>
                Working with 
                <div>
                    <ul>
                        <li>Numpy</li>
                        <li>Pandas</li>
                        <li>Flask</li>
                        <li>MySql</li>
                        <li>HDF</li>
                        <li>Microsoft Excel</li>
                        <li>Power Query</li>
                        <li>Apps Script</li>
                        <li>Crystal Report</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card p-2 mb-1 bg-light border-info">
            <div class="h5">Toppr Technologies Pvt Ltd</div>
            <div class="h4">Data Analyst</div>
            <div class="small">August 2020 - May 2021 (10 Months)</div>
            <div>
                <ul>
                    <li>
                        Incubated model to allocate lead based on past performance of the ACs and COEs, which resulted in 
                        increased DF (Appointment Fixing) to CC (Call Connects) and less lead consumption
                    </li>
                    <li>
                        Tracked down a loophole in Sales App and got that fixed, which helped in increased efficiency in performance of ACs and COEs
                    </li>
                    <li>
                        Managed all business operations in the unavailability of AGM for over a month
                    </li>
                    <li>
                        Managed daily operations of a team of 25+ from Lead Allocation to taking report on daily basis from ACs & COEs of day to day business operations
                    </li>
                    <li>
                        Developed metrics viz CC/DL, CC/DF, DL/DF, DD/CC, DD/DF to track ACs and COEs performance
                    </li>
                    <li>
                        Created Dashboard on Google Sheets to track performance of Team Manager, Sales Executives and Calling Executives which resulted in 
                        increased activity of concerned stakeholders
                    </li>
                    <li>
                        Created Dashboards on Redash and Google Sheets to aid in GM, AGM & TMs decisions makings
                    </li>
                    <li>
                        Instated a combination of Lead channelization which lead to increase in EN/DD (Sales per Demo Done) in April 2020
                    </li>
                    <li>
                        Suggested a lead conversion policy in which all the dead leads (Completely Consumed) from top sources were converted 
                        into useable leads which increased the business in November and December months
                    </li>
                </ul>
            </div>
        </div>
        <div class="card p-2 mb-1 bg-light border-info">
            <div class="h5">Shri Ram Finance Corporation Pvt Ltd</div>
            <div class="small">February 2018 - May 2019 (1 Year 4 Months)</div>
            <div class="h4">Area Manager</div>
            <div class="small">December 2018 - May 2019 (6 Months)</div>
            <div>
                <ul>
                    <li>
                        Brought in light Cash Embezzlement of branches
                    </li>
                    <li>
                        Audited branches (Entire Bhanpuri Zone) and Reviewed 
                        performance of All employees of the Zone
                    </li>
                    <li>
                        Trained employees on – How to use Jaguar 365° Cloud and How 
                        to reduce Recovery
                    </li>
                    <li>
                        Visited Dealers to understand issues faced by them
                    </li>
                    <li>
                        Rectified an issue with insurance which was a major problem for 
                        branches and showroom
                    </li>
                </ul>
            </div>
            <div class="h4">Branch Manager</div>
            <div class="small">February 2018 - December 2018 (6 Months)</div>
            <div>
                <ul>
                    <li>
                        Reduced Recovery from 13% to 6% of Basna Branch in 3 month
                    </li>
                    <li>
                        Increased revenue contribution with 5 New Dealer Tie Ups and 
                        expanded Business Operation for Pithora subbranch
                    </li>
                    <li>
                        Managed Investor representatives Visit to Basna & Saraipali
                    </li>
                    <li>
                        Managed Saraipali Branch with additional role and directly 
                        supervised Branch Manager of Saraipali Branch
                    </li>
                    <li>
                        Implemented Loan Restructuring and Regular Calling & Visits by Collection Team which lead to reduction in NPAs
                    </li>
                    <li>
                        Suggested a plan to collect all seized vehicles in one place and Sale so to reduce Branch Workload and get best value by auctioning
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="card p-2 bg-info text-light h2 mt-3 border-success">Education</div>
        <div class="card p-2 mb-1 bg-light border-info">
            <div class="h5">Gangadhar Meger University, Sambalpur, Odisha</div>
            <div class="h4">Bachelor of Commerce (Accounts Hons)</div>
            <div class="small">April 2014 - March 2017</div>
            <div>2nd Class with Distinction</div>
        </div>
        <div class="card p-2 mb-1 bg-light border-info">
            <div class="h5">Anchal College, Padmapur, Odisha</div>
            <div class="h4">Intermidiate of Commerce (Accounts Hons)</div>
            <div class="small">April 2012 - March 2014</div>
            <div>1st Class</div>
        </div>
    </div>
{% endblock content %}
