{% extends 'base.html' %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block content %}
    <div class="h1">Mohan Sahu</div>
    <div class="small">Bhopal, Madhyapradesh, India</div>
    <div>heymks@yahoo.com</div>
    <div>linkedin.com/heymks</div>
    <div>9340948037</div>
    <div class="h2">Summary</div>
    <div class="p">
        Data Analyst with 2+ Years of Experience in Interpreting and Analyzing Data in 
        taking Data Driven Decision Making Approach to Business Problems & Operations handling
    </div>
    <div class="h2">Experience</div>
    <div>
        <div class="h3">Data Analyst</div>
        <div class="h4">Ruchi Security Printers Pvt Ltd</div>
        <div class="small">November 2020 - Present (7 Months +)</div>
        <div>
            Working with 
            <div>
                <ul>
                    <li>Numpy</li>
                    <li>Pandas</li>
                    <li>Flask</li>
                    <li>MySql</li>
                    <li>HDF</li>
                    <li>Microsoft Excel</li>
                    <li>Power Query</li>
                    <li>Apps Script</li>
                    <li>Crystal Report</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="h3">Data Analyst</div>
        <div class="h4">Toppr Technologies Pvt Ltd</div>
        <div class="small">August 2020 - May 2021 (10 Months)</div>
        <div>
            <ul>
                <li>
                    Incubated model to allocate lead based on past performance of the ACs and COEs, which resulted in 
                    increased DF (Appointment Fixing) to CC (Call Connects) and less lead consumption
                </li>
                <li>
                    Tracked down a loophole in Sales App and got that fixed, which helped in increased efficiency in performance of ACs and COEs
                </li>
                <li>
                    Managed all business operations in the unavailability of AGM for over a month
                </li>
                <li>
                    Managed daily operations of a team of 25+ from Lead Allocation to taking report on daily basis from ACs & COEs of day to day business operations
                </li>
                <li>
                    Developed metrics viz CC/DL, CC/DF, DL/DF, DD/CC, DD/DF to track ACs and COEs performance
                </li>
                <li>
                    Created Dashboard on Google Sheets to track performance of Team Manager, Sales Executives and Calling Executives which resulted in 
                    increased activity of concerned stakeholders
                </li>
                <li>
                    Created Dashboards on Redash and Google Sheets to aid in GM, AGM & TMs decisions makings
                </li>
                <li>
                    Instated a combination of Lead channelization which lead to increase in EN/DD (Sales per Demo Done) in April 2020
                </li>
                <li>
                    Suggested a lead conversion policy in which all the dead leads (Completely Consumed) from top sources were converted 
                    into useable leads which increased the business in November and December months
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="h3">Area Manager</div>
        <div class="h4">Shri Ram Finance Corporation Pvt Ltd</div>
        <div class="small">August 2020 - May 2021 (10 Months)</div>
        <div>
            <ul>
                <li>
                    Incubated model to allocate lead based on past performance of the ACs and COEs, which resulted in 
                    increased DF (Appointment Fixing) to CC (Call Connects) and less lead consumption
                </li>
                <li>
                    Tracked down a loophole in Sales App and got that fixed, which helped in increased efficiency in performance of ACs and COEs
                </li>
                <li>
                    Managed all business operations in the unavailability of AGM for over a month
                </li>
                <li>
                    Managed daily operations of a team of 25+ from Lead Allocation to taking report on daily basis from ACs & COEs of day to day business operations
                </li>
                <li>
                    Developed metrics viz CC/DL, CC/DF, DL/DF, DD/CC, DD/DF to track ACs and COEs performance
                </li>
                <li>
                    Created Dashboard on Google Sheets to track performance of Team Manager, Sales Executives and Calling Executives which resulted in 
                    increased activity of concerned stakeholders
                </li>
                <li>
                    Created Dashboards on Redash and Google Sheets to aid in GM, AGM & TMs decisions makings
                </li>
                <li>
                    Instated a combination of Lead channelization which lead to increase in EN/DD (Sales per Demo Done) in April 2020
                </li>
                <li>
                    Suggested a lead conversion policy in which all the dead leads (Completely Consumed) from top sources were converted 
                    into useable leads which increased the business in November and December months
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}